html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  overflow: hidden; /* Stops scrollbars appearing */
}

/* 2. THE DRAG CONTAINER */
.app-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.01);

  cursor: grab;
}

.app-container:active {
  cursor: grabbing;
}

/* 3. POINTER EVENTS ( The Drag Fix )
   The `data-tauri-drag-region` is on the container, not the image.
   If you click the image, the browser thinks you want to "select" it.
   We disable pointer events on the image so the click "falls through"
   to the container behind it.
/**!*/
/*.clippy-img {*/
/*  width: 150px;*/
/*  pointer-events: none; !* <--- THIS MAKES IT DRAGGABLE *!*/
/*  user-select: none;*/
/*  transition: transform 0.2s ease-in-out;*/
/*}*/

/*!*!* 4. BLINK ANIMATION *!*!*/
/*.clippy-img.blink {*/
/*  transform: scaleY(0.1); !* Squish eyes closed *!*/
/*}*/

/* Base Sprite Setup */
:root {
  --frame-w: 124px;
  --frame-h: 93px;
}

.clippy {
  width: var(--frame-w);
  height: var(--frame-h);
  background-image: url("public/clippy_map.png");
  background-repeat: no-repeat;
  pointer-events: none;

  background-size: 3348px auto;

  background-position-y: calc(var(--row) * var(--frame-h) * -1);

  animation: play 2s steps(var(--frames)) infinite;

  image-rendering: pixelated;
  /**/
  isolation: isolate;
  transform: translateZ(0);
  will-change: background-position;
  background-color: transparent !important;
}

@keyframes play {
  from { background-position-x: 0; }
  to {
    background-position-x: calc(var(--frame-w) * var(--frames) * -1);
  }
}